@{
    Layout = "_LayoutLogin.cshtml";
}

<div id="BoxTitulo">
    <h1>
        Bem vindo(a)!
    </h1>
</div>
<div id="BoxFormsGeral">
    <div id="BoxFormLogin">
        <fieldset>
            <legend>Informe seus dados</legend>
            <form method="post" action="/Home/Index" id="frmLogin">
                <table style="margin-top:10px;">
                    <tr>
                        <td>
                            Usuário:
                        </td>
                        <td>
                            <input type="text" name="usuario" id="usuario" maxlength="20" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Senha:
                        </td>
                        <td>
                            <input type="password" name="senha" id="senha" maxlength="10" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <input class="btn btn-default" type="submit" name="btnEntrar" id="btnEntrar" value="Entrar" />
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </div>
    <h3 style="color:red;">@ViewBag.MensagemDeErro</h3>
</div>

